.header-wrapper {
  min-height: 658px;

  color: $white;
  background: radial-gradient(circle at 6% 93%, #003d85, #b80027 50%);
}


@media (max-width: $desktop-width) {
  .header-wrapper {
    min-height: 554px;
  }
}

@media (max-width: $tablet-width) {
  .header-wrapper {
    min-height: 491px;
  }
}
