.hero {
  position: relative;

  color: $white;
}

.hero__wrapper {
  position: relative;

  display: flex;
  width: 460px;
  padding-top: 111px;
  padding-right: 64px;
  padding-bottom: 43px;

  flex-direction: column;
  align-items: flex-end;

  text-align: right;
}

.hero__wrapper::after {
  content: "";

  position: absolute;
  top: -6px;
  right: -500px;

  width: 500px;
  height: 556px;

  background-color: $white;
  background-image: url("../img/superman-desktop@1x.jpg");
  background-repeat: no-repeat;
}

.hero__title {
  margin: 0;
  margin-bottom: 51px;
  padding: 0;

  font-size: 109px;
  line-height: 1em;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-family: "Bebas Neue", "Arial", sans-serif;

  text-shadow:
    -2px -2px $white,
    2px -2px $white,
    -2px 2px $white,
    2px 2px $white;
}

.hero__city {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;

  order: -1;

  font-size: 49px;
  line-height: 1em;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-family: "Bebas Neue", "Arial", sans-serif;
}

.hero__list {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 1.5em;
  font-weight: 400;

  list-style: none;
}

.hero__services {
  position: absolute;
  left: 21px;
  top: 298px;

  max-width: 120px;
}

.hero__btn {
  display: flex;
  width: 232px;
  padding-top: 21px;
  padding-bottom: 20px;

  justify-content: center;

  font-size: 12px;
  line-height: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $white;
  border: 4px solid $white;

  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.hero__social {
  display: none;
}

@media (min-width: 1200px) {
  .hero__social {
    position: absolute;
    right: 17px;
    bottom: 23px;

    display: flex;

    flex-direction: column;
  }

  .hero__link {
    display: flex;
    margin-bottom: 21px;

    font-size: 12px;
    line-height: 1em;
    text-transform: uppercase;

    color: $white;
    text-decoration: none;

    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }
}

@media (max-width: $desktop-width) {
  .hero__title {
    margin-bottom: 36px;

    font-size: 86px;
  }

  .hero__city {
    margin-bottom: 10px;

    font-size: 34px;
  }

  .hero__wrapper {
    width: 354px;
    padding-top: 71px;
    padding-right: 30px;
  }

  .hero__wrapper::after {
    top: 17px;
    right: -324px;

    width: 324px;
    height: 390px;

    background-image: url("../img/superman-tablet@1x.jpg");
  }

  .hero__services {
    left: 0;
    top: 202px;
  }

  .hero__btn {
    width: 183px;
  }
}

@media (max-width: $tablet-width) {
  .hero__wrapper {
    width: 100%;
    padding-top: 73px;
    padding-right: 0;
  }

  .hero__wrapper::after {
    display: none;
  }

  .hero__title {
    margin-bottom: 38px;

    font-size: 78px;
  }

  .hero__city {
    margin-bottom: 15px;

    font-size: 28px;
  }

  .hero__services {
    top: 192px;
  }

  .hero__btn {
    width: 100%;
    padding-bottom: 22px;
  }
}
