.logo {
  width: 98px;
  height: 20px;
}

@media (max-width: $desktop-width) {
  .logo {
    width: 82px;
    height: 17px;
  }
}

@media (max-width: $tablet-width) {
  .logo {
    width: 68px;
    height: 15px;
  }
}
