
.site-content__wrapper {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: 1200px) {
  .site-content__row {
    background: linear-gradient(to right, $main-blue 0%, $main-blue 50%, $white 50%);
  }
}

@media (max-width: $desktop-width) {
  .site-content__wrapper {
    min-width: 768px;
    padding-right: 0;
    padding-left: 0;

    flex-direction: column;
  }
}


@media (max-width: $tablet-width) {
  .site-content__wrapper {
    min-width: 320px;
  }
}
