.trainers {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 120px;
}

.trainers__slider {
  width: 1160px;
}

.trainers__slide {
  display: flex;

  text-align: center;
}

@media (max-width: $desktop-width) {
  .trainers__slider {
    width: 768px;
  }

  .trainers {
    min-width: 768px;
    padding-top: 100px;
  }
}

@media (max-width: $tablet-width) {
  .trainers {
    min-width: 320px;
    padding-top: 70px;
  }

  .trainers__slider {
    width: 320px;
  }
}
